<br />
<br />
<br />
<br />


<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Become a coach</h1>


  
 <%= simple_form_for @coach, url: coach_coaches_path do |f| %>
    <%= f.input :name %>
    <%= f.input :bio %>
    <%= f.select :System_type, ['Apple', 'Android'] %>
    <%= f.input :description %>
    <%= f.input :cost %>
    <br />
    <%= f.submit "Create", class: "btn btn-outline-secondary btn-sm" %>
    <br />
  <% end %>
  <br />
  <br />
  <br />
  <br />
</div>
