<br />
<br />
<br />
<br />
<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Start a new tutorial</h1>
 
   <%= simple_form_for @tutorial, url: coach_tutorials_path do |f| %>
    <%= f.input :title %>
    <%= f.select :System_type, ['Apple', 'Android'] %>
    <%= f.input :description %>
    <%= f.input :cost %>
    <%= f.input :image %>
    <br />
    <%= f.submit "Create", class: "btn btn-outline-secondary btn-sm" %>
    <br />
  <% end %>
  <br />
  <br />
  <br />
  <br />
</div>


